<?xml version='1.0' encoding='utf-8'?>
<widget id="courseWork.medsaver" version="0.1.0">
  <name>MedSaver</name>
  <description>
    App for medical workers
  </description>
  <author email="soldieroftheuniverse@gmail.com">
    2 guys
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <splash src="res/loading.png"/>
  <icon src="res/loading.png"/>
</widget>
